.split-pane .split-pane-divider {
    -fx-background-color: #dc3545 !important;
    -fx-padding: 2px;
}

#stackPaneRight{
    -fx-background-color: #23272f;
}

#stackPaneRightLabel{
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-padding: 12px;
    -fx-font-weight: bold;
}

#anchorPaneLeft{
    -fx-background-color: #23272f;
}

#debugPane{
    -fx-background-color: #000;
}

#lvStats{
    /* -fx-background-color: #23272f;
    -fx-text-fill: #fff; */
}